<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Learning Project</title>
</head>

<body style="margin-left: 3%;">
    <div id="courses-title">
        <p><b>Site courses:</b></p>
    </div>
    <div id="courses-div">
        <% courses.forEach(course=> { %>
            <div id="<%= course.course_id %>" class="course"
                onclick="location.href='./courses/<%= course.course_id %>/intro'">
                <div class="course-image">
                    <img src="./images/<% let imageUrl = course.course_image %><%= imageUrl.substring(imageUrl.lastIndexOf('/') + 1).trim() %>"
                        width="102" height="102">
                </div>
                <p class="course-title">
                    <%= course.course_title %>
                </p>
                <p class="course-description">
                    <%= course.course_description %>
                </p>
            </div>
            <% }) %>
    </div>
    <button class="button large-button hover-anim" onclick="location.href='./courses/create_course.html'">Create your own
        courses!</button>
</body>

</html>