<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/481432da79.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Learning Project</title>
</head>

<body style="margin-left: 3%;">
    <%- include('header.ejs') %>

    <div id="context-menu" style="display: none; position: absolute;">
        <div class="context-menu-option" onclick="reset()">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <div class="context-menu-option-text">Reset</div>
        </div>
    </div>

    <div id="courses-title">
        <h2>Site courses:</h2>
    </div>
    <div id="courses-div">
        <% courses.forEach(course=> {%>
        <div id="<%= course.course_id %>" class="course" onclick="location.href='./?site=intro&id=<%= course.course_id %>'">
            <div class="course-image-container">
                <img class="course-image"
                    src="./images/<% let imageUrl = course.course_image %><%= imageUrl.substring(imageUrl.lastIndexOf('/') + 1).trim() %>"
                    width="102" height="102">
            </div>
            <h5>
                <%= course.course_title %>
            </h5>
            <p>
                <%= course.course_description %>
            </p>
        </div>
        <%}) %>
    </div>
    <script>
        let courseClickedId = "";

        document.onclick = hideMenu;
        document.oncontextmenu = rightClick;

        function findCourseId(element) {
            while (element) {
                if (element.id && element.classList.length > 0 && element.classList[0] == "course") {
                    return element.id;
                }
                element = element.parentNode;
            }
            return null;
        }

        function hideMenu() {
            document.getElementById(
                "context-menu").style.display = "none"
        }

        function rightClick(e) {
            let menu = document.getElementById("context-menu")

            if (menu.style.display == "block") {
                hideMenu();
            } else {
                let element = document.elementFromPoint(e.clientX, e.clientY);
                if (element.classList.length <= 0) return;

                let courseId = findCourseId(element);
                if (courseId) {
                    e.preventDefault();
                    menu.style.display = 'block';
                    menu.style.left = (e.clientX - 0) + "px";
                    menu.style.top = (e.clientY - 0) + "px";
                    courseClickedId = courseId;
                }
            }
        }

        function reset() {
            $.ajax({
                type: "PUT",
                url: `/courses/${courseClickedId}`,
                data: {
                    currentChapter: 1,
                    currentSection: 1
                }
            })
        }
    </script>
</body>

</html>